/*--------------------------*/
/* Reseteo y css general    */
/*--------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 700;
}

/*-------------------------------------------*/
/* Header INDEX (Dispositivos >= 992px)      */
/*-------------------------------------------*/

/*--Header general--*/
header {
    height: 100px;
    background-color: #111;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

/*--Header logo--*/
header a {
    display: block;
    text-decoration: none;
    height: 100px;
    width: 100px;
    flex-grow: 1;
}

header a img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .5s;
    object-fit: cover;
}

header a img:hover {
    transform: rotate(360deg);
}

/*--Header buscador--*/
#form-buscador {
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 0 5%;
}

.form-buscador-contenedor {
    position: relative;
    width: 100%;
}

#input-text-buscador {
    padding: 20px 50px 20px 20px;
    outline: none;
    border: none;
    background-color: #2f2e53;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

#input-text-buscador:hover, #input-text-buscador:focus {
    outline: 2px solid #5f5be8;
}

/*--Header buscador lupa--*/
#form-buscador i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform:translateY(-50%);
}

/*--Header buscador X--*/
#icono-borrar-busqueda {
    cursor: pointer;
}

/*--Header clases ocultar y mostrar*/
.ocultar {
    display: none !important;
}

.mostrar:hover {
    color: rgb(255, 39, 39);
}

/*--Header Carrito--*/
.carrito:hover{
    color: #5f5be8;
}

.carrito {
    cursor: pointer;
    font-size: 34px;
    padding: 0 30px;
    position: relative;
    flex-grow: 1;
}

.carrito span {
    background-color: red;
    color: #fff;
    position: absolute;
    top: 0;
    left: 55px;
    transform: translateY(-17%);
    width: 23px;
    border-radius: 100%;
    height: 23px;
    font-size: 15px;
    text-align: center;
}

/*-------------------------------------------*/
/* Header CONFIRMAR COMPRA                   */
/*-------------------------------------------*/
/*--Header logo--*/
.header-confirmar-compra .logo {
    flex-grow: 1;
}
.header-confirmar-compra .carrito {
    text-align: end;
}
.header-confirmar-compra .carrito span {
    right: 20px;
    left: inherit;
}

/*-------------------------------------------------------*/
/* Contenido de la página INDEX (Dispositivos >= 992)    */
/*-------------------------------------------------------*/
.contenido {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: stretch;
    background: url("../images/fondo.avif") fixed center/cover;
    padding-bottom: 100px;
    padding-top: 30px;
}

/*--Sección izquierda--*/
.seccion-filtrado {
    height: auto;
    width: 20%;
}

.listado-productos h1, .seccion-filtrado h3 {
    text-align: center;
    padding: 15px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
    font-weight: 700;
    line-height: normal;
}

.seccion-filtrado h3 {
    background-color: #111;
    font-size: x-large;
    color: #fff;
}

.seccion-filtrado .accordion-body button {
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 5px 0;
}

.seccion-filtrado .accordion-body button:hover, .seccion-filtrado .accordion-body button:active {
    color:#5f5be8;
}

.seccion-filtrado .accordion-body button:last-child {
    margin-top: 15px;
}

.seccion-filtrado .accordion-body #btn-cat-monitores {
    margin-top: 0px;
}

.parte-inferior {
    background-color: #111;
    height: 63px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*--Sección derecha--*/
.seccion-filtrado, .listado-productos {
    border-radius: 10px;
}

.listado-productos {
    min-height: 100vh;
    width: 70%;
    background-color: #111;
}

.listado-productos h1 {
    font-size: xx-large;
    background-color: #5f5be8;
    color: #111;
}

.listado-productos .imagen-categoria {
    height: 126.73px;
    position: relative;
}

.listado-productos .imagen-categoria img {
    width: 100%;
    object-fit: cover;
    height: 126.73px;
    opacity: 0.3;
}

.imagen-categoria .resultados-mostrados {
    position: absolute;
    bottom: 25px;
    left: 25px;
    margin: 0;

}

.contenedor-orden-productos {
    background-color: #5f5be8;
    padding: 15px;
    color: #fff;
    display: flex;
}

#orden-productos {
    color: #111;
    padding: 10px;
    flex-grow: 2;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: smaller;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}

.contenedor-disposiciones {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#productos-display-grid, #productos-display-flex {
    width: 50px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.disposicion-seleccionada {
    background-color: #2f2e53;
}

.disposicion-seleccionada i{
    font-size: large;
    color: #fff;
}

.disposicion-no-seleccionada {
    background-color: #fff;
    color: #111;
}

.disposicion-no-seleccionada i{
    font-size: large;
    color: #111;
}

#productos-display-grid:hover, #productos-display-flex:hover {
    background-color: #2f2e53;
}

#productos-display-flex {
    margin-left: 10px;
}

/*--Contenedor display GRID--*/
.contenedor-display-grid {
    padding: 30px 25px 50px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: auto;
    gap: 25px;
    justify-items: center;
}

.contenedor-display-grid .card-producto {
    background-color: #fff;
    border-radius: 10px;
    width: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-display-grid .card-producto img {
    width: 140px;
    height: 140px;
}

.contenedor-display-grid .card-producto .informacion-producto {
    padding-top: 5px;
    text-align: center;
}

.contenedor-display-grid .card-producto h2 {
    font-size: 16px;
    color: #111;
    text-align: center;
    height: 90px;
    font-weight: 700;
}

.contenedor-display-grid .card-producto p {
    font-size: 16px;
    color: #111;
    text-align: center;
}

.contenedor-display-grid .card-producto .informacion-producto .mostrar-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-display-grid .card-producto button {
    outline: none;
    border: none;
    background-color: #000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: .4px;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    line-height: normal;
}

.contenedor-display-grid .card-producto button:hover, .contenedor-display-grid .card-producto button:active {
    background-color: #5f5be8;
}

.contenedor-display-grid .card-producto button:disabled {
    background-color: gray;
    cursor: default;
}

.contenedor-display-grid .card-producto .informacion-producto .contenedor-icono{
    position: relative;
    width: 38px;
}

.contenedor-display-grid .card-producto .informacion-producto .contenedor-icono span{
    background-color: red;
    color: #fff;
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(-62%);
    width: 23px;
    border-radius: 100%;
    height: 23px;
}
.contenedor-display-grid .card-producto .informacion-producto .contenedor-icono i{
    color: #111;
}

.contenedor-display-grid .card-producto img, .card-producto h2, .card-producto p {
    margin-bottom: 15px;
}

/* Contenedor display FLEX */
.contenedor-display-flex {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 50px 25px;
}

.contenedor-display-flex .card-producto {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contenedor-display-flex > .card-producto:last-child {
    margin-bottom: 0px;
}

.contenedor-display-flex .card-producto img {
    width: 140px;
    height: 140px;
}

.contenedor-display-flex .card-producto .informacion-producto {
    padding-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.contenedor-display-flex .card-producto .informacion-producto .mostrar-flex {
    display: flex;
    align-items: center;
}

.contenedor-display-flex .card-producto .informacion-producto .contenedor-icono{
    position: relative;
    width: 38px;
    margin-left: 15px;
}

.contenedor-display-flex .card-producto .informacion-producto .contenedor-icono span{
    background-color: red;
    color: #fff;
    position: absolute;
    top: 0;
    left: 12px;
    transform: translateY(-71%);
    width: 23px;
    border-radius: 100%;
    height: 23px;
}
.contenedor-display-flex .card-producto .informacion-producto .contenedor-icono i{
    color: #111;
}


.contenedor-display-flex .card-producto .informacion-producto div {
    display: flex;
    justify-content: left;
}

.contenedor-display-flex .card-producto h2 {
    font-size: 16px;
    color: #111;
    height: 50px;
    text-align: left;
    font-weight: 700;
}

.contenedor-display-flex .card-producto p {
    font-size: 16px;
    color: #111;
    text-align: left;
}

.contenedor-display-flex .card-producto button {
    outline: none;
    border: none;
    background-color: #000;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: .4px;
    text-align: left;
    width: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    line-height: normal;
}

.contenedor-display-flex .card-producto button:hover, .contenedor-display-flex .card-producto button:active {
    background-color: #5f5be8;
}

.contenedor-display-flex .card-producto button:disabled {
    background-color: gray;
    cursor: default;
}

.contenedor-display-flex .card-producto img, .card-producto h2, .card-producto p {
    margin-bottom: 15px;
}

/*-------------------------------------------------------*/
/* Contenido de la página INDEX (Dispositivos < 992)    */
/*-------------------------------------------------------*/
@media (max-width: 991px){
    .contenido {
        flex-direction: column-reverse;
        align-items: center;
    }
    .seccion-filtrado {
        width: 90%;
        margin: 0 5%;
        margin-bottom: 30px;
    }
    .listado-productos {
        width: 90%;
    }
    #productos-display-flex {
        display: none;
    }
}

/*--------------------------------------------------------------------*/
/* Contenido de la página CONFIRMAR COMPRA (Dispositivos >= 992px)   */
/*-------------------------------------------------------------------*/
.listado-pagina-contenido {
    min-height: auto;
    width: 90%;
}

.contenido-pagina-carrito .contenedor-display-flex .card-producto img {
    margin-bottom: 0px;
}

.contenido-pagina-carrito  .card-producto .informacion-producto {
    width: 500px;

}

.contenido-pagina-carrito .contenedor-display-flex {
    padding-bottom: 25px;
}

.contenido-pagina-carrito  .card-producto .seccion-agregar-quitar {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}
.contenido-pagina-carrito  .card-producto .contenedor-botones {
    margin-left: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    border-radius: 10px;

}

.contenido-pagina-carrito  .card-producto .contenedor-botones button {
    border-radius: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: unset;
    background-color: #fff;
    color: #111;
}

.contenido-pagina-carrito  .card-producto .contenedor-botones button:hover, .contenido-pagina-carrito  .card-producto .contenedor-botones button:active {
    background-color: #5f5be8;
}

.contenido-pagina-carrito  .card-producto .contenedor-botones button:disabled {
    background-color: gray;
    cursor: default;
}

.contenido-pagina-carrito  .card-producto .contenedor-botones p {
    color: #fff;
    margin: 0 20px;
}

.contenido-pagina-carrito  .card-producto .eliminar-producto {
    margin-left: 40px;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
}

/*Sección precio total*/

.contenedor-precio-total {
    border-radius: 10px;
    height: 100px;
    background-color: #2f2e53;
    margin: 15px 25px 50px;
}

.contenedor-precio-total > div{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
}
.contenedor-precio-total p{
    color: #fff;
    margin: 0;
}

.contenedor-precio-total button{
    border: none;
    outline: none;
    background-color: #fff;
    color: #111;
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
}

.contenedor-precio-total button:hover,.contenedor-precio-total button:active{
    background-color: #5f5be8;
}

/*--------------------------------------------------------------------*/
/* Contenido de la página CONFIRMAR COMPRA (Dispositivos < 992px)   */
/*-------------------------------------------------------------------*/
@media (max-width: 991px){
    .listado-pagina-contenido {
        width: auto;
    }
    .listado-pagina-contenido h1{
        padding-left: 15px;
        padding-right: 15px;
    }
    .contenido-pagina-carrito .contenedor-display-flex .card-producto {
        flex-direction: column;
    }
    .contenido-pagina-carrito .card-producto .contenedor-botones{
        margin-left: 0;
    }
    .contenido-pagina-carrito .card-producto .contenedor-botones p{
        margin: 0;
        width: auto;
        padding: 0 15px;
    }
    .contenido-pagina-carrito .contenedor-display-flex .card-producto .informacion-producto {
        padding: 0;
        justify-content: center;
        width: auto;
    }
    .contenido-pagina-carrito .contenedor-display-flex .card-producto img{
        margin-bottom: 20px;
    }
    .contenido-pagina-carrito .contenedor-display-flex .card-producto .informacion-producto p, .contenido-pagina-carrito .contenedor-display-flex .card-producto h2{
        text-align: center;
        width: 200px;
        margin-bottom: 20px;
    }
    .contenido-pagina-carrito .card-producto .eliminar-producto {
        margin-left: 10px;
        padding: 20px;
        width: auto;
        height: auto;
    }
    .contenido-pagina-carrito .flex {
        flex-direction: column;
        padding-left: 0;
        height: auto;
    }
    .contenido-pagina-carrito .flex p {
        margin: 20px 0;
    }
    .contenido-pagina-carrito .contenedor-precio-total {
        height: auto;
    }
    .contenido-pagina-carrito #btn-comprar {
        margin: 0;
        margin-bottom: 20px;
    }
}

/*--------------------------------------------------------------------*/
/* Contenido de la página INICIAR-SESION (Dispositivos > 992px)       */
/*--------------------------------------------------------------------*/
.contenido-pagina-sesion {
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    background: url(../images/fondo.avif) fixed center/cover;
    padding: 30px;
}

.contenedor-principal-sesion {
    width: 100%;
    height: 100%;
    background-color: #111;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.contenido-pagina-sesion .seccion-formulario, .contenido-pagina-sesion .seccion-logo{
    width: 50%;
    height: 100%;
}

.contenido-pagina-sesion .seccion-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-pagina-sesion .seccion-logo img {
    width: 500px;
    height: 500px;
}

.contenedor-principal-sesion .seccion-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-principal-sesion .seccion-formulario .contenedor-formulario{
    background-color: #5f5be8;
    color: #000;
    padding: 30px;
    border-radius: 10px;
}

/*Formulario*/
.contenedor-principal-sesion .contenedor-formulario h1 {
    text-align: center;
    font-size: 30px;
}

#formulario-iniciar-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

#formulario-iniciar-sesion .mostrar-error {
    color: rgb(151, 0, 0);
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}

#formulario-iniciar-sesion .mostrar-error p{
    margin: 0;
    text-align: center;
}

#formulario-iniciar-sesion label{
    width: 100px;
    text-align: left;
}

#formulario-iniciar-sesion fieldset {
    padding: 20px;
    display: flex;
    align-items: center;
}
#formulario-iniciar-sesion fieldset:last-child {
    padding: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

#formulario-iniciar-sesion input[type="text"], #formulario-iniciar-sesion input[type="password"]{
    background-color: transparent;
    border: none;
    outline: none;
    color: #111;
    border-bottom: 2px solid #111;
    margin-left: 15px;
}

#formulario-iniciar-sesion input::placeholder{
    color: #111;
}

#formulario-iniciar-sesion .contenedor-ingresar{
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulario-iniciar-sesion .contenedor-ingresar input{
    border: none;
    outline: none;
    background-color: #111;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
}

#formulario-iniciar-sesion .contenedor-ingresar input:active, #formulario-iniciar-sesion .contenedor-ingresar input:hover{
    background-color: #2f2e53;
}

#formulario-iniciar-sesion a{
    color: #111;
}

#formulario-iniciar-sesion a:hover{
    color: #2f2e53;
}

#formulario-iniciar-sesion .contenedor-registrar{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#formulario-iniciar-sesion .contenedor-registrar p{
    margin: 0;
}

/*--------------------------------------------------------------------*/
/* Contenido de la página INICIAR-SESION (Dispositivos < 992px)       */
/*--------------------------------------------------------------------*/
@media (max-width: 991px){
    .contenido-pagina-sesion .seccion-logo img {
        display: none;
    }
    .contenido-pagina-sesion {
        min-height: calc(100vh - 100px);
        height: auto;
        display: flex;    
    }
    .contenedor-principal-sesion {
        flex-direction: column-reverse;
    }
    .contenedor-principal-sesion .seccion-formulario .contenedor-formulario{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .contenido-pagina-sesion .seccion-logo img {
        width: 100%;
        height: 100%;
    }
}
/*--------------------------------------------------------------------*/
/* Contenido de la página INICIAR-SESION (Dispositivos < 576px)       */
/*--------------------------------------------------------------------*/
@media (max-width: 575px){
    .contenido-pagina-sesion {
        min-height: calc(100vh - 100px);
        height: auto;
        display: flex;    
    }
    .contenedor-principal-sesion {
        flex-direction: column-reverse;
    }
    .contenedor-principal-sesion .seccion-formulario .contenedor-formulario{
        margin-top: 60px;
        padding: 25px 15px;
    }
    .contenedor-principal-sesion .seccion-formulario .contenedor-formulario h1{
        font-size: 22px;
    }
    .contenido-pagina-sesion .seccion-logo img {
        width: 100%;
        height: 100%;
    }
    #formulario-iniciar-sesion fieldset {
        flex-direction: column;
        align-items: baseline;
        justify-content: left;
        padding: 10px 0;
    }
    #formulario-iniciar-sesion label {
        width: inherit;
        margin-bottom: 5px;
    }
    #formulario-iniciar-sesion input[type="text"], #formulario-iniciar-sesion input[type="password"]{
        margin-left: 0;
    }
    #formulario-iniciar-sesion .contenedor-ingresar input{
        margin: 0;
    }
    #formulario-iniciar-sesion .contenedor-ingresar input[type="submit"]{
        margin-bottom: 10px;
    }
    #formulario-iniciar-sesion .contenedor-ingresar input[type="checkbox"]{
        margin: 0;
    }
    #formulario-iniciar-sesion .contenedor-ingresar{
        flex-direction: column;
        align-items: center;
    }
}

/*--------------------------------------------------------------------*/
/* Contenido de la página REGISTRO (Dispositivos > 992px)             */
/*--------------------------------------------------------------------*/
.contenido-pagina-registro {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    display: flex;
    background: url(../images/fondo.avif) fixed center/cover;
    padding: 30px;
}

.contenedor-principal-registro {
    width: 100%;
    background-color: #111;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.contenido-pagina-registro .seccion-formulario, .contenido-pagina-registro .seccion-logo{
    width: 50%;
    height: 100%;
}

.contenido-pagina-registro .seccion-logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenido-pagina-registro .seccion-logo img {
    width: 500px;
    height: 500px;
}

.contenedor-principal-registro .seccion-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.contenedor-principal-registro .seccion-formulario .contenedor-formulario{
    background-color: #5f5be8;
    color: #000;
    padding: 30px;
    border-radius: 10px;
}

/*Formulario*/
.contenedor-principal-registro .contenedor-formulario h1 {
    text-align: center;
    font-size: 30px;
}

#formulario-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

#formulario-registro .mostrar-error{
    padding-bottom: 20px;
    color: rgb(151, 0, 0);
    width: 100%;
    text-align: center;
    font-size: 14px;
}

#formulario-registro .mostrar-error p{
    margin: 0;
    text-align: center;
}

#formulario-registro label{
    width: 100px;
    text-align: left;
}

#formulario-registro fieldset {
    padding: 20px;
    display: flex;
    align-items: center;
}

#formulario-registro input[type="text"], #formulario-registro input[type="password"], #formulario-registro input[type="email"], #formulario-registro input[type="number"]{
    background-color: transparent;
    border: none;
    outline: none;
    color: #111;
    border-bottom: 2px solid #111;
    margin-left: 15px;
}

#formulario-registro input::placeholder{
    color: #111;
}

#formulario-registro .contenedor-ingresar{
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
}

#formulario-registro .contenedor-ingresar input{
    border: none;
    outline: none;
    background-color: #111;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
}

#formulario-registro .contenedor-ingresar input:active, #formulario-registro .contenedor-ingresar input:hover{
    background-color: #2f2e53;
}

#formulario-registro a{
    color: #111;
}

#formulario-registro a:hover{
    color: #2f2e53;
}

#formulario-registro .contenedor-registrar{
    display: flex;
    flex-direction: column;
}

#formulario-registro .contenedor-registrar p{
    margin: 0;
}

/*--------------------------------------------------------------------*/
/* Contenido de la página REGISTRO (Dispositivos < 992px)             */
/*--------------------------------------------------------------------*/
@media (max-width: 991px){
    .contenido-pagina-registro {
        min-height: calc(100vh - 100px);
        height: auto;
        display: flex;    
    }
    .contenedor-principal-registro {
        flex-direction: column-reverse;
    }
    .contenedor-principal-registro .seccion-formulario .contenedor-formulario{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .contenido-pagina-registro .seccion-logo img {
        display: none;
    }
}

/*--------------------------------------------------------------------*/
/* Contenido de la página REGISTRO (Dispositivos < 576px)       */
/*--------------------------------------------------------------------*/
@media (max-width: 575px){
    .contenido-pagina-registro {
        min-height: calc(100vh - 100px);
        height: auto;
        display: flex;    
    }
    .contenedor-principal-registro {
        flex-direction: column-reverse;
    }
    .contenedor-principal-registro .seccion-formulario .contenedor-formulario{
        margin-top: 60px;
        padding: 25px 15px;
    }
    .contenedor-principal-registro .seccion-formulario .contenedor-formulario h1{
        font-size: 22px;
    }
    .contenido-pagina-registro .seccion-logo img {
        width: 100%;
        height: 100%;
    }
    #formulario-registro fieldset {
        flex-direction: column;
        align-items: baseline;
        justify-content: left;
        padding: 10px 0;
    }
    #formulario-registro label {
        width: inherit;
        margin-bottom: 5px;
    }
    #formulario-registro input[type="text"], #formulario-registro input[type="password"]{
        margin-left: 0;
    }
    #formulario-registro input[type="text"], #formulario-registro input[type="number"]{
        margin-left: 0;
    }
    #formulario-registro input[type="text"], #formulario-registro input[type="email"]{
        margin-left: 0;
    }
    #formulario-registro .contenedor-ingresar input{
        margin: 0;
    }
    #formulario-registro .contenedor-ingresar input[type="submit"]{
        margin-bottom: 10px;
    }
    #formulario-registro .contenedor-ingresar input[type="checkbox"]{
        margin: 0;
    }
    #formulario-registro .contenedor-ingresar{
        flex-direction: column;
        align-items: center;
    }
}

/*-----------------------------------------------------------------*/
/* Contenido de la página FINALIZAR PAGO (Dispositivos > 992px)    */
/*-----------------------------------------------------------------*/
.contenido-pagina-pago {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    display: flex;
    background: url(../images/fondo.avif) fixed center/cover;
    padding: 30px;
}

.contenedor-principal-pago {
    width: 100%;
    background-color: #111;
    border-radius: 10px;
}

.contenedor-principal-pago  h1{
    text-align: center;
    padding: 15px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    background-color: #5f5be8;
}

.contenedor-secciones {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 55px;
}

.contenedor-secciones section{
    margin-bottom: 20px;
    background-color: #2f2e53;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    padding-left: 20px;
}

.contenedor-secciones h2{
    font-weight: 700;
}

.contenedor-secciones .seccion-resumen h2{
    margin-bottom: 20px;
}

.contenedor-secciones .seccion-resumen p{
    margin-top: 20px;
}

.contenedor-secciones .seccion-datos{
    font-size: 16px;
}

.contenedor-secciones .seccion-datos h2{
    margin-bottom: 20px;
}

.contenedor-secciones .seccion-tarjeta{
    position: relative;
}

.contenedor-secciones .seccion-tarjeta h3{
    margin-bottom: 20px;
    font-size: 16px;
}

#formulario-tarjeta fieldset {
    padding: 15px 0;
}

#formulario-tarjeta fieldset input{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    border-bottom: 1px solid #fff;
    color:#fff;
    font-size: smaller;
}

#formulario-tarjeta fieldset input::placeholder{
    color:#fff;
}

#formulario-tarjeta .contenedor-ingresar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
}

#formulario-tarjeta .contenedor-ingresar input{
    padding: 10px;
    background-color: #5f5be8;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
}

#formulario-tarjeta .contenedor-ingresar input:hover{
    background-color: #2f2e53;
}

.seccion-tarjeta .mostrar-error{
    color: rgb(245, 73, 73);
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    text-align: left;
}

.seccion-tarjeta .mostrar-error p{
    margin: 0;
    text-align: left;
}

/*-----------------------------------------------------------------*/
/* Contenido de la página FINALIZAR PAGO (Dispositivos < 576px)    */
/*-----------------------------------------------------------------*/
@media (max-width: 575px){
    #formulario-tarjeta fieldset label{
        display: block;
    }
}

/*------------------------------------------*/
/* Footer (Dispositivos ≥992px y <992px)    */
/*------------------------------------------*/

footer {
    background-color: #111;
    padding-top: 40px;
    color: white;
}
footer .footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer .footer-content h5, footer .footer-content h3, footer .footer-content h2 {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 20px;
}
footer .footer-content p {
    max-width: 500px;
    margin: 0 30px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 700;
}
footer .footer-content .socials {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
}
footer .footer-content .socials li:not(:last-child) {
    margin-right: 30px;
}
footer .footer-content .socials a {
    font-weight: 700;
    text-decoration: none;
    color: white;
}
footer .footer-content .socials a i {
    font-size: 1.1rem;
    margin-right: 8px;
}
footer .footer-content .socials a:hover {
    color: #5f5be8;
}
footer .footer-content .socials a:hover i {
    color: #5f5be8;
}
footer .footer-bottom {
    background: black;
    padding: 20px 0;
    text-align: center;
}
footer .footer-bottom p {
    font-weight: 700;
    margin: 0 30px;
    font-size: 14px;
    word-spacing: 2px;
}
footer .footer-bottom span {
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 400;
}
  
/* --------------------------------------*/
/* Footer (Dispositivos < 576px)         */
/* --------------------------------------*/

/*Dispositivos s (small)*/
@media (max-width: 575px) {
    footer .footer-content .socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        row-gap: 30px;
        column-gap: 30px;
        justify-items: stretch;
        padding: 20px;
    }
    footer .footer-content .socials li:not(:last-child) {
      margin-right: 0;
    }
    footer .footer-content .socials li:nth-child(5) {
      grid-column: span 2;
    }
    footer .footer-content .socials a {
      text-decoration: none;
      color: white;
    }
    footer .footer-content .socials a i {
      display: block;
      margin-right: 0;
    }
}

/* ------------------------------*/
/* Barra de scrolleo y selección */
/* ------------------------------*/

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: black;
}
  
::-webkit-scrollbar-thumb {
    background-color: #5f5be8;
}
 
::-moz-scrollbar-track {
    background: black;
}
  
::-moz-scrollbar-thumb {
    background-color: #5f5be8;
}

::selection {
    background-color: #5f5be8;
    color: white;
}


